NEXT_PUBLIC_SITE_URL=https://panpan.biz.id
SUPABASE_URL=https://xxxxx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=isi_service_role_key
SHORTENER_ADMIN_TOKEN=panpan-secret-123
LINK_PASSWORD_SECRET=panpan-secret-random-panjang
